<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>newyear</servlet-name>
        <servlet-class>ru.itpark.NewYearServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>newyear</servlet-name>
        <url-pattern>/newyear</url-pattern>
    </servlet-mapping>
</web-app>